/* Move down content because  fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

.jumbotron {
    background-image: url(../images/aboutme/aboutme.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: transparent;
}