.jumbotron {
    background-image: url("../images/aboutme/aboutme.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: transparent;
}