body {
  background-color: #000000;
  background-image: url("images/background-imgs/home-2.jpg");
  background-repeat: no-repeat;
  /* background-position: 0% 50%; */
  background-size: cover;
  background-attachment: fixed;
}

.logo {
  width: 25px;
}
